useDynLib(XiaLabCppLib, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(rowcolttestsR)
export(do_decoranaR)
export(imodwtR)
export(modwtR)
export(DescendMinR)
export(FindEqualGreaterMR)
export(RectUniqueR)